.logo-style{
  width: 40%;
}
.navStyle {
padding-left: 20rem !important;
  text-align: center;
}
.navLinkStyle {
text-decoration: none;
margin: 0 40px;
color: #000000;
}
@media only screen and (max-width: 1400px){
  .navStyle {
      padding-left: 10rem !important;
  }
  .navLinkStyle {
      margin: 0 30px;
  }
}

@media only screen and (max-width: 1200px){
  .navStyle {
      padding-left: 8rem !important;
  }
  .navLinkStyle {
      margin: 0 17px;
  }
}
@media only screen and (max-width:992px) {
  .responsive-spacing{
      margin: auto;
  }
  .navStyle {
      padding: 0 !important;
  }
  .navLinkStyle {
      margin: 0.5rem 1rem;
  }

}


