.vehicle-img-wrapper{
    position: relative;
}
.vehicle-img{
    width: 70%;
    height: auto;
    transition: ease .9s;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5%;
}
.overlay {
	position: absolute;
	bottom: 0;
	left: 15%;
	right: 0;
	background-color: lightgray;
	opacity: 0;
	overflow: hidden;
	width: 70%;
	height: 100%;
	border-radius: 5%;
	transition: ease .9s;
	padding: 10%;
}
  .text {
    color: blue;
	font-size: 20px;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: none;
}
.vehicle-img-wrapper:hover .overlay,.vehicle-img-wrapper:hover .vehicle-img{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 8 */
    transform: scale(1.1);  
    opacity:0.7;
    }
    .vehicle-img-wrapper:hover .text{
        display: block;
   }

   @media only screen and (max-width: 1200px) {
    .vehicle-img-wrapper:hover .overlay,.vehicle-img-wrapper:hover .vehicle-img{
        -ms-transform: scale(1.4); /* IE 9 */
        -webkit-transform: scale(1.4); /* Safari 3-8 8 */
        transform: scale(1.4);  
        }
   }
@media only screen and (max-width: 992px) {

    .vehicle-img{
        width: 80%;
    }
    .overlay {
        left: 10%;
        width: 80%;
    }
}
@media only screen and (max-width: 768px) {

    .vehicle-img-wrapper {
        margin: 5rem 0;
    }
    .vehicle-img{
        width: 70%;
    }
    .overlay {
        left: 15%;
        width: 70%;
    }
    .vehicle-img-wrapper:hover .overlay,.vehicle-img-wrapper:hover .vehicle-img{
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 8 */
        transform: scale(1.2);  
        }
      
}
@media only screen and (max-width:767px){
    .vehicle-img{
        width: 50%;
    }
    .overlay {
        left: 25%;
        width: 50%;
    }
}
      
  @media only screen and (max-width: 576px) {
    .vehicle-img{
        width: 60%;
    }
    .overlay {
        left: 20%;
        width: 60%;
    }
  }